{{!-- 
    Custom options/values:
        - legendText=string          // Set the legend text.
--}}
{{#if legendText}}
    <legend class="legend-text">
        {{legendText}}
        
        {{#if required}}
            <abbr title="required" class="icon icon-required">*</abbr>
        {{/if}}
    </legend>
{{/if}}

<div class="form-field-wrapper">
    {{yield}}
</div>
