{{!-- 
    All {{input}} helper options are available as well as the custom options specified below.

    Custom options/values:
        - labelText=string          // Set label text (required).
        - hideLabel=true            // Accessibly hides the label text.
--}}
<label>
    <span class="label-text {{if hideLabel 'visually-hidden' ''}}">
        {{labelText}}

        {{#if required}}
            <abbr title="required" class="icon icon-required">*</abbr>
        {{/if}}
    </span>

    {{input
        accept=accept
        autocomplete=autocomplete
        autofocus=autofocus
        autosave=autosave
        disabled=disabled
        form=form
        formaction=formaction
        formenctype=formenctype
        formmethod=formmethod
        formnovalidate=formnovalidate
        formtarget=formtarget
        height=height
        inputmode=inputmode
        max=max
        maxlength=maxlength
        min=min
        multiple=multiple
        name=name
        pattern=pattern
        placeholder=placeholder
        required=required
        readonly=readonly
        selectionDirection=selectionDirection
        size=size
        spellcheck=spellcheck
        step=step
        tabindex=tabindex
        type=type
        value=value
        width=width
    }}
</label>
