<nav class="main-nav-wrapper">
    <ul class="main-nav-list">
        <li class="main-nav-item">{{#link-to 'index' class='main-nav-link'}}Home{{/link-to}}</li>
        <li class="main-nav-item">{{#link-to 'ui-tabs' class='main-nav-link'}}Tabs{{/link-to}}</li>
        <li class="main-nav-item">{{#link-to 'ui-blockquote' class='main-nav-link'}}Blockquote{{/link-to}}</li>
        <li class="main-nav-item">{{#link-to 'ui-datepicker' class='main-nav-link'}}Datepicker{{/link-to}}</li>
        <li class="main-nav-item">{{#link-to 'ui-forms' class='main-nav-link'}}Forms{{/link-to}}</li>
    </ul>
</nav>
