/*
* Colours
*/
$primary-1:                      #333F48;
$primary-2:                      #0099FF;
$primary-3:                      #fff;

$secondary-1:                    #E40046;
$secondary-2:                    #005EB8;
$secondary-3:                    #B9D9EB;
$secondary-4:                    #D9E1E2;
$secondary-5:                    #707272;
$secondary-6:                    #A8D5BA;
$secondary-7:                    #319B42;
$secondary-8:                    #B3E000;
$secondary-9:                    #EEEEEE;

/*
* Typography
*/
$font-stack-1:                  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/*
* Spacing
*/
$wrapperSpacing:                0 0 20px;
$horizontalFormLabelWidth:      240px;