fieldset {
    border: 0;
    padding: 0;

    .form-field {
        display: inline-block;
    }
}

.form-field {
    margin: 0 0 20px;
}

.label-text,
.legend-text {
    width: 120px;
}

.label-text {
    display: inline-block;
}

.legend-text {
    float: left;
    margin: 6px 3px 0 0;
}

.form-vertical {
    .label-text,
    .legend-text {
        display: block;
        margin: 0 0 5px;
        width: auto;
    }
}
