* {
    box-sizing: border-box;
}

body {
    background-color: $secondary-9;
    color: $primary-1;
    font-family: $font-stack-1;
    margin: 0;
}

a {
    color: $primary-2;
}

hr {
    border: 0;
    border-top: 2px solid $secondary-5;
    margin: 80px 0;
}

dl {
    @include clearFloat;

    margin: 0 0 100px;
}

dt,
dd {
    margin-bottom: 10px;
}

dt {
    clear: left;
    float: left;
    font-weight: 700;
    margin-right: 10px;
    width: 100px;
}

dd {
    float: left;
    margin-left: 0;
}