<h1>Blockquotes</h1>

<p>Examples and usage for the ui-blockquote component.</p>

<h2>Usage</h2>
<pre class="code">
<code>&lcub;&lcub;&#x75;&#x69;&#x2D;&#x62;&#x6C;&#x6F;&#x63;&#x6B;&#x71;&#x75;&#x6F;&#x74;&#x65;&NewLine;&#x20;&#x20;&#x20;&#x20;&#x71;&#x75;&#x6F;&#x74;&#x65;&equals;&quot;&#x51;&#x75;&#x6F;&#x74;&#x65;&#x20;&#x74;&#x65;&#x78;&#x74;&#x20;&#x67;&#x6F;&#x65;&#x73;&#x20;&#x68;&#x65;&#x72;&#x65;&quot;&NewLine;&#x20;&#x20;&#x20;&#x20;&#x63;&#x69;&#x74;&#x65;&equals;&quot;&#x43;&#x69;&#x74;&#x65;&#x20;&#x74;&#x65;&#x78;&#x74;&#x20;&#x67;&#x6F;&#x65;&#x73;&#x20;&#x68;&#x65;&#x72;&#x65;&quot;&NewLine;&#x20;&#x20;&#x20;&#x20;&#x63;&#x69;&#x74;&#x65;&#x4C;&#x69;&#x6E;&#x6B;&equals;&quot;&#x43;&#x69;&#x74;&#x65;&#x20;&#x6C;&#x69;&#x6E;&#x6B;&#x20;&#x67;&#x6F;&#x65;&#x73;&#x20;&#x68;&#x65;&#x72;&#x65;&quot;&NewLine;&rcub;&rcub;</code>
</pre>

<hr>

<h2>Examples</h2>

<h3>Quote only</h3>
{{ui-blockquote quote="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."}}

<hr>

<h3>Quote and cite</h3>
{{ui-blockquote quote="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore." cite="Minima Veniam"}}

<hr>

<h3>Quote, cite and cite link</h3>
{{ui-blockquote quote="At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias." cite="Voluptates Repudiandae" citeLink="#cite-link/"}}
