<h1>Blockquotes</h1>

<p>Examples for the ui-blockquote component.</p>

<h2>Quote only</h2>
{{ui-blockquote quote="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."}}

<hr>

<h2>Quote and cite</h2>
{{ui-blockquote quote="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore." cite="Minima Veniam"}}

<hr>

<h2>Quote, cite and cite link</h2>
{{ui-blockquote quote="At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias." cite="Voluptates Repudiandae" citeLink="#cite-link/"}}
