<h1>Datepicker</h1>

<p>WIP - Examples and usage for the ui-datepicker component.</p>
<p>Based on an Ember addon for Flatpickr, see: <a href="https://github.com/shipshapecode/ember-flatpickr">https://github.com/shipshapecode/ember-flatpickr</a></p>

<h2>Usage</h2>
<pre class="code">
<code>&lcub;&lcub;&#x75;&#x69;&#x2D;&#x64;&#x61;&#x74;&#x65;&#x70;&#x69;&#x63;&#x6B;&#x65;&#x72;&rcub;&rcub;</code>
</pre>

<hr>

{{ui-datepicker}}
