<h1>Forms</h1>

<p>WIP - Examples and usage for the UI form components.</p>

<nav class="sub-nav-wrapper">
    <ul class="sub-nav-list">
        <li class="sub-nav-item">{{#link-to 'ui-forms.index' class='sub-nav-link'}}Form elements{{/link-to}}</li>
        <li class="sub-nav-item">{{#link-to 'ui-forms.booking-form' class='sub-nav-link'}}Booking form{{/link-to}}</li>
    </ul>
</nav>

{{outlet}}
