<h1>Tabs</h1>

<p>Examples and usage for the ui-tabs component.</p>

<h2>Usage</h2>
<pre class="code">
<code>&lcub;&lcub;&#x75;&#x69;&#x2D;&#x74;&#x61;&#x62;&#x73;&#x20;&#x74;&#x61;&#x62;&#x49;&#x74;&#x65;&#x6D;&#x73;&equals;&#x6D;&#x6F;&#x64;&#x65;&#x6C;&rcub;&rcub;</code>
</pre>

<hr>

{{ui-tabs tabItems=model}}
